.profile-head {
  position: fixed;
  top: 0px;
}
.prof-page {
  top: 0px;
  position: fixed;
  float: left;
  display: block;
  height: 100%;
}
.chart {
  display: inline-block;
}
#chart1 {
  width: 80%;
  height: 80%;
  margin: 10% 10%;
}
.chart {
  margin: 10px 10px;
}
/* Style for our header texts
* --------------------------------------- */
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
}
.intro p {
  color: #fff;
}
/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
}
/* Overwriting styles for the navigation dots (to place it where we want)
* --------------------------------------- */
.fullPage-slidesNav.bottom {
  bottom: 25px;
}
/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}
#section2 h1 {
  color: #333;
}
