doctype html(lang='en')
head
    title Math Outside the Box | Home
    link(rel="stylesheet", href="css/home.css")
    link(rel="stylesheet", href="css/mixins.css")

body
    #wrapper
        #main
            img#logo(src='../img/logo.png')
            #one.area
                img#profile.button(src='../img/profile.png')
            #two.area
                img#challenge.button(src='../img/challenges.png')
            #three.area
                img#progress.button(src='../img/progress.png')
            #branch
            img#eagle(src='../img/Eagle/eagle2.png')
