doctype html(lang='en')
head
    title Math Outside the Box | Profile
body
    img#bar(src='../img/pro_bar.png')
    #wrapper
        #main
            #header
                img#mob(src='../img/pro_logo.png')
                img#home(src='../img/pro_home.png')
                img#curr(src='../img/pro_file.png')

